@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #060606;
    color: #ffffff;
  }

  h1,
  .font-squada {
    font-family: "Squada One";
  }

  .text-highlight {
    color: #e1251b;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@layer components {
  .icon-link {
    width: 100%;
    height: 100%;
  }

  .icon-link svg {
    width: 100%;
    height: 100%;
  }
}
